body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f1e9e9;
    background-image: url(img/dp-big-portfolio-021.png);
    background-size: cover;
}

header {
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around ;
    font-size: 25px;
    margin-top: 5PX;
    text-transform: capitalize;
}

nav ul li a {
    text-decoration: none;
    color: #f1eeee;
    font-weight: bold;
}

.hero {
    text-align: left;
    padding: 50px 20px;
    padding-left: 50px;
    margin-left: 50px;
}

.hero h1 {
    font-size: 2.5em;
    margin-left: 100px;
    padding-top: 200px;

}

.hero h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.hero a{
    margin-left: 100px;
}

.cta {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta:hover {
    background-color: #0056b3;
}
.site {
    margin-left: 20px;
    list-style-type: none;
    margin-left: 90px;
    margin-top: 100px;
}
.site img{
    max-width: 50px;
    max-height: 50px;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    body {
        background-image: url(img/pngtree-modern-technology-dark-space-image_27360.jpg);
    }
    nav ul {
        align-items: center;
        font-size: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }
    .hero{
        padding-left: 0px;
    }
    .hero h1 {
        font-size: 24px;
        margin-left: 0px;
        text-align: center;
    }

    .hero h2 {
        font-size: 18px;
    }

    .hero p {
        font-size: 14px;
    }

    .cta {
        font-size: 14px;
        padding: 8px 16px;
    }

    .site {
        flex-direction: column;
        align-items: center;
    }

    .site img {
        width: 30px;
        height: 30px;
    }
}
